<p id="notice"><%= notice %></p>

<h1>Arvores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arvores.each do |arvore| %>
      <tr>
        <td><%= arvore.nome %></td>
        <td><%= link_to 'Show', arvore %></td>
        <td><%= link_to 'Edit', edit_arvore_path(arvore) %></td>
        <td><%= link_to 'Destroy', arvore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arvore', new_arvore_path %>
