<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @no.nome %>
</p>

<p>
  <strong>No:</strong>
  <%= @no.no %>
</p>

<%= link_to 'Edit', edit_no_path(@no) %> |
<%= link_to 'Back', nos_path %>
